body {
    background-image: url('img/images.jpg');
    background-size: cover;
}
.text-center {
    text-align: center;
    color: #57ca83;
}
p {
    font-size: 25px;
    line-height: 1.6;
    color: #4e2fbd;
}